# PROBLEM 2:

In [14]:
import pandas as pd


# To read the file we use pd.read_csv() and assign the value.
cars = pd.read_csv('cars.csv')
cars

# To display the odd-numbered columns we start at 1 with increments of 2 to only include those rows with odd index.
c = cars[1::2]

# Then we display the first 5 odd numbered rows only. 
c.head()

# And print the output.
print('A. The first five rows with odd-numbered columns of cars.')

A. The first five rows with odd-numbered columns of cars.

In [12]:

# To display only the column of the 'model' of Mazda RX4, we use .loc[] to locate the index.
a = cars.loc[cars['Model']=='Mazda RX4']

# print the output.
print('B. The row that contains the ‘Model’ of ‘Mazda RX4.')
a

B. The row that contains the ‘Model’ of ‘Mazda RX4.

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [18]:

# To find the 'model' of Camaro Z28, we use .loc[], and we also specify what column should be displayed.
y = cars.loc[cars['Model']=='Camaro Z28', ['Model', 'cyl']]

# print the output.
print('C.The number of cylinders(cyl) the Camaro Z28 have.')
y

C.The number of cylinders(cyl) the Camaro Z28 have.

         Model  cyl
23  Camaro Z28    8

In [20]:

# Find the location of of multiple 'Model' cars we use .isin([]) and only print the ['Model', 'cyl', 'gear'] of the column.
g = cars.loc[cars['Model'].isin(['Mazda RX4 Wag', 'Ford Pantera L', 'Honda Civic']),   ['Model', 'cyl', 'gear']]

# print the output.
print('D. The number of cylinders(cyl) and gear type(gear) the Mazda RX4, Ford Pantera L, Honda Civic have.')
g

D. The number of cylinders(cyl) and gear type(gear) the Mazda RX4, Ford Pantera L, Honda Civic have.

             Model  cyl  gear
1    Mazda RX4 Wag    6     4
18     Honda Civic    4     4
28  Ford Pantera L    8     5


# Name: Ramirez, Gav Wrangler A.
# Section: 2ECE-A